html,
body {
  min-width: 1440px;
  min-height: 2795px;
}

body {
  /* Временно для сетки */
  background-image: url("../img/tmp-device-index.jpg");
  background-size: 2795px auto;
  background-repeat: no-repeat;
}

.main-header {
  margin: 75px auto 35px;

  /* Временно для сетки */
  min-height: 285px;
}
