@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 300;
  src: local('Gilroy'),
       url('../fonts/gilroylight.woff2') format('woff2'),
       url('../fonts/gilroylight.woff') format('woff');
}

@font-face {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 800;
  src: local('Gilroy'),
       url('../fonts/gilroyextrabold.woff2') format('woff2'),
       url('../fonts/gilroyextrabold.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Opensans'),
       url('../fonts/opensanslight.woff2') format('woff2'),
       url('../fonts/opensanslight.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Opensans'),
       url('../fonts/opensans.woff2') format('woff2'),
       url('../fonts/opensans.woff') format('woff');
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", Trebuchet MS, sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding:0 !important;
	border:0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

.main-nav {
  background-color: rgba(240, 197, 46, 0.5);
}

.site-search {
  opacity: 0.3;
}

.site-search:hover {
  opacity: 0.6;
}

.site-search:focus {
  opacity: 1;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.user-nav {
  list-style: none;
}

.user-nav a:hover,
.user-nav a:focus {
  opacity: 0.6;
}

.user-nav a:active {
  opacity: 0.3;
}

.purchase-nav {
  list-style: none;
}

.site-nav {
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;

  list-style: none;
}

.catalog-nav {
  font-family: "Open Sans", Trebuchet MS, sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #464646;

  list-style: none;
}

.slide-switcher {
  list-style: none;
}

.popular-nav {
  list-style: none;
}

.services-list {
  list-style: none;
}

.partners-list {
  list-style: none;
}

.social-list {
  list-style: none;
}

.purchase-nav a:hover,
.purchase-nav a:focus {
  opacity: 0.6;
}

.site-nav a:hover,
.site-nav a:focus {
  opacity: 0.6;
}

.catalog-nav a:hover,
.catalog-nav a:focus {
  opacity: 0.6;
}

.htmlacademy-icon:hover,
.htmlacademy-icon:focus {
  opacity: 0.6;
}

.purchase-nav a:active {
  opacity: 0.3;
}

.site-nav a:active {
  opacity: 0.3;
}

.catalog-nav a:active {
  opacity: 0.3;
}

.htmlacademy-icon:active {
  opacity: 0.3;
}

.site-search {
  opacity: 0.3;
}

.site-nav {
  text-transform: uppercase;
}

.catalog-nav {
  text-transform: none;
}

.services-section {
  background-color: #e5e5e5;
}

.about-section h2 {
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.contacts-section h2 {
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.delivery-list {
  font-family: "Gilroy", Arial Black, sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
}

.nav-footer {
  color: #ffffff;
}

.social-list a {
  opacity: 0.3;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.user-footer a {
  opacity: 0.7;
}

.user-footer a:hover,
.user-footer a:focus {
  opacity: 1;
}

.user-footer a:active {
  opacity: 0.3;
}

.purchase-footer a {
  opacity: 0.7;
}

.purchase-footer a:hover,
.purchase-footer a:focus {
  opacity: 1;
}

.purchase-footer a:active {
  opacity: 0.3;
}
