@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 300;
  src: local("Gilroy"),
       url("../fonts/gilroylight.woff2") format("woff2"),
       url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 800;
  src: local("Gilroy"),
       url("../fonts/gilroyextrabold.woff2") format("woff2"),
       url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Opensans"),
       url("../fonts/opensanslight.woff2") format("woff2"),
       url("../fonts/opensanslight.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Opensans"),
       url("../fonts/opensans.woff2") format("woff2"),
       url("../fonts/opensans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Trebuchet MS", sans-serif;
  font-size: 15px;
  line-height: 30px;
  font-weight: 300;
  color: #464646;

  background-color: #ffffff;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-markers {
  list-style: none;
}

.button {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  letter-spacing: 0.2em;

  background-color: #f0c52e;
  border: none;
}

.container {
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  display: flex;
  flex-direction: column;

  margin: 40px auto 35px;

  background-color: #f7e296;
}

.header-wrapper {
  padding: 50px 60px 40px;
}

.row {
  display: flex;
  align-items: center;
}

.row ul {
  display: flex;
}

.site-search {
  opacity: 0.3;
}

.site-search:hover {
  opacity: 0.6;
}

.site-search:focus {
  opacity: 1;
}

.logo:hover,
.logo:focus {
  opacity: 0.6;
}

.logo:active {
  opacity: 0.3;
}

.user-nav a:hover,
.user-nav a:focus {
  opacity: 0.6;
}

.user-nav a:active {
  opacity: 0.3;
}

.main-nav-list {
  display: flex;
  position: relative;
  padding: 0;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;

  list-style: none;
}

.main-nav-sublist {
  display: flex;
  position: absolute;

  font-family: "Open Sans", "Trebuchet MS", sans-serif;
  font-size: 15px;
  line-height: 36px;
  font-weight: 300;
  color: #464646;
  letter-spacing: normal;
}

.purchase-nav a:hover,
.purchase-nav a:focus {
  opacity: 0.6;
}

.main-nav-list a:hover,
.main-nav-list a:focus {
  opacity: 0.6;
}

.main-nav-sublist a:hover,
.main-nav-sublist a:focus {
  opacity: 0.6;
}

.copyright:hover,
.copyright:focus {
  opacity: 0.6;
}

.purchase-nav a:active {
  opacity: 0.3;
}

.main-nav-list a:active {
  opacity: 0.3;
}

.main-nav-sublist a:active {
  opacity: 0.3;
}

.copyright:active {
  opacity: 0.3;
}

.site-search {
  opacity: 0.3;
}

.main-nav-sublist {
  text-transform: none;
}

.promo-section h3 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 56px;
  font-weight: 800;
  color: #000000;
}

.features th {
  font-size: 13px;
  line-height: 20px;

  text-align: left;
}

.features td {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
  color: #000000;
}

.popular-list {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.popular-list a {
  background-color: #f7e296;
}

.services-section {
  background-color: #e5e5e5;
}

.services-section h3 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.index-columns {
  display: flex;
  justify-content: space-between;
  margin-bottom: 93px;
}

.about-section {
  width: 462px;
}

.about-section h2 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.contacts-section {
  width: 462px;
}

.contacts-section h2 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

.delivery-list {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 40px;
  font-weight: 800;
  color: #000000;
}

.main-footer {
  background-color: #464646;
  color: #ffffff;
  padding-top: 158px;
  padding-bottom: 65px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-wrapper .column {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.footer-wrapper .column:first-child {
  align-items: flex-start;
}

.footer-wrapper .column:first-child > * {
  align-items: flex-start;
  padding-bottom: 40px;
}

.footer-wrapper .column:nth-child(2) {
  align-items: center;
  justify-content: flex-end;
}

.footer-wrapper .column:nth-child(2) > * {
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 40px;
  margin: 0;
}

.footer-wrapper .column:last-child {
  align-items: flex-end;
}

.footer-wrapper .column:last-child > * {
  padding-bottom: 40px;
}

.column ul {
  display: flex;
  padding: 0;
}

.nav-footer {
  color: #ffffff;
}

.social-list a {
  opacity: 0.3;
}

.social-list a:hover,
.social-list a:focus {
  opacity: 0.6;
}

.social-list a:active {
  opacity: 0.1;
}

.write-us label {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.write-us input {
  background-color: #f2f2f2;
}

.write-us input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}

.write-us textarea {
  color: rgba(70, 70, 70, 0.4);

  background-color: #f2f2f2;
}

.user-footer a {
  opacity: 0.7;
}

.user-footer a:hover,
.user-footer a:focus {
  opacity: 1;
}

.user-footer a:active {
  opacity: 0.3;
}

.purchase-footer a {
  opacity: 0.7;
}

.purchase-footer a:hover,
.purchase-footer a:focus {
  opacity: 1;
}

.purchase-footer a:active {
  opacity: 0.3;
}

.user-nav .exit {
  opacity: 0.3;
}

/* catalog.html */
.catalog-page h1 {
  margin-bottom: 29px;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 47px;
  line-height: 48px;
  font-weight: 800;
  color: #000000;
}

/*
active устанавливается JS на активные варианты сортировки и у активных страниц
каталога
*/
.catalog-page .active {
  opacity: 1;
}

.breadcrumbs {
  display: flex;
  margin-bottom: 50px;

  font-size: 14px;
  line-height: 24px;
}

.filter {
  padding-right: 68px;
  padding-left: 60px;
  width: 210px;
  background-color: #efefef;
}

.filter fieldset {
  border: none;
}

.filter h2 {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.filter legend {
  margin-bottom: 30px;

  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.filter label {
  font-size: 14px;
  line-height: 40px;
  color: #000000;
}

.filter-input:disabled + label {
  color: #a6a6a6;
}

.catalog-columns {
  width: 760px;
  padding-left: 72px;
}

.sorting {
  display: flex;
  align-items: center;
}

.sorting span {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorting ul {
  display: flex;
}

.sorting-type a {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;

  opacity: 0.3;
}

.sorting-type a:hover,
.sorting-type a:focus {
  opacity: 0.6;
}

.sorting-type a:active {
  opacity: 1;
}

.sorting-direction a {
  opacity: 0.2;
}

.sorting-direction a:hover,
.sorting-direction a:focus {
  opacity: 0.4;
}

.sorting-direction a:active {
  opacity: 1;
}

.catalog-section {
  display: flex;
}

.items-list {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 300;
}

.items-list h3 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
}

.catalog-item {
  width: 360px;
}

.add-comparison {
  font-family: "Open Sans", "Trebuchet MS", sans-serif;
  font-size: 13px;
  line-height: 20px;
  font-weight: 300;
  color: #000000;
  opacity: 0.5;
}

.add-comparison:hover,
.add-comparison:focus {
  opacity: 1;
}

.add-comparison:active {
  opacity: 0.2;
}

.pagination {
  background-color: #ebebeb;
}

.pagination a {
  font-family: "Gilroy", "Arial Black", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 800;
  color: #000000;
  opacity: 0.3;
  letter-spacing: 0.2em;
}

.pagination-button a {
  opacity: 1;
}

/* ----- Сеточные стили ----- */


html,
body {
  min-width: 1440px;
  min-height: 2795px;
}

body {
  /* Временно для сетки */
/*  background-image: url('../img/1device-index.jpg');
  background-size: 1440px auto;
  background-repeat: no-repeat;
  */
}
/*
.main-header {
  margin-top: 40px;
  margin-bottom: 75px;
}

.logo {
  width: 163px;
  height: 35px;
}

.user-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.purchase-nav {
  margin: 0;
  padding: 0;

  list-style: none;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
}
*/
